extend layout

block head

block content

   h2 [tournament name]

   .bracket-column.one
      .bracket-entry 
         a Blake (Fox)
      .bracket-entry
         a Ryan (DK)
      .bracket-entry
         a Christian Schmidt (Captian Falcon)
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
   .bracket-column.two
      .bracket-entry
         a Blake (Fox)
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
      .bracket-entry
   .bracket-column.three
      .bracket-entry
         a Blake (Fox)
      .bracket-entry
      .bracket-entry
      .bracket-entry
   .bracket-column.four
      .bracket-entry
         a Blake (Fox)
      .bracket-entry
   .bracket-column.five
      .bracket-entry
         a Blake (Fox)