extend layout

block content   
   h2 
      | Tournaments 
      | <a href="/tournament/new">[add]</a>
   table.table
      thead
         tr
            th Name
      tbody
         each tourney in tournaments
            tr 
               td
                  a.capitalize(href="/tournament/#{tourney.tid}")= tourney.name

   h2 
      | Players
      | <a href="/player/new">[add]</a>
   table.table
      thead
         tr
            th Name
            th # Wins
            th # Losses
            th Favorite Character
      tbody
         each player in players
            tr 
               td 
                  a(href="/player/#{player.pid}")= player.name
               td 14
               td 10
               td Ness

   h2 Characters
   table.table
      thead
         tr
            th Name
            th # Wins
            th # Losses
            th Most Played By
      tbody
         tr 
            td 
               a(href="/character") Ness
            td 30
            td 27
            td Blake VanLandingham