extend layout

block head

block content   
   h2 Tournaments
   table.table
      thead
         tr
            th Name
            th # Players
      tbody
         tr 
            td
               a Some Tournament
            td 12

   h2 Players
   table.table
      thead
         tr
            th Name
            th # Wins
            th # Losses
            th Favorite Character
      tbody
         tr 
            td 
               a Blake VanLandingham
            td 14
            td 10
            td Ness

   h2 Characters
   table.table
      thead
         tr
            th Name
            th # Wins
            th # Losses
            th Most Played By
      tbody
         tr 
            td 
               a Ness
            td 30
            td 27
            td Blake VanLandingham