.container
   padding: 0 20px 20px 20px

span.success
   color: #5bb75b
   font-weight: bold
   
span.failure
   color: #da4f49
   font-weight: bold

.bracket-column
   width: 20%
   float: left
   
   &.one
      .bracket-entry
         height: 36px
         span.na
         a
            padding-top: 14px
   &.two
      .bracket-entry
         height: 73px
         &:first-child
            margin-top: -18px
         span.na
         a
            padding-top: 51px
   &.three
      .bracket-entry
         height: 147px
         &:first-child
            margin-top: -53px
         span.na
         a
            padding-top: 125px
   &.four
      .bracket-entry
         height: 294px
         &:first-child
            margin-top: -120px
         span.na
         a
            padding-top: 272px
   &.five
      .bracket-entry
         height: 325px
         span.na
         a
            padding-top: 303px
            
.bracket-entry
   // height: 35px
   border-bottom: 1px solid #333
   &:nth-child(even)
      border-right: 1px solid #333
   span.na
   a
      display: block
      padding-left: 5px
      padding-right: 5px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
   span.na
      color: #666
      
      
.tournamentNew-page
   select
      width: 200px
   
