.container
   padding: 0 20px 20px 20px

.bracket-column
   width: 20%
   float: left
   
   &.one
      .bracket-entry
         height: 36px
         a
            padding-top: 14px
   &.two
      .bracket-entry
         height: 73px
         &:first-child
            margin-top: -18px
         a
            padding-top: 51px
   &.three
      .bracket-entry
         height: 147px
         &:first-child
            margin-top: -53px
         a
            padding-top: 125px
   &.four
      .bracket-entry
         height: 294px
         &:first-child
            margin-top: -120px
         a
            padding-top: 272px
   &.five
      .bracket-entry
         height: 325px
         a
            padding-top: 303px
            

            

   

         
      
      
   
.bracket-entry
   // height: 35px
   border-bottom: 1px solid #333
   &:nth-child(even)
      border-right: 1px solid #333
   a
      display: block
      padding-left: 5px
      padding-right: 5px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      
      
      
   
